body{
    padding: 0;
    margin:0;
}

.post {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    padding: 0;
}

.post .carousel .carousel-inner .item img{
  width: 100%;
  height: 400px;
}

.container{
  width: 70%;
  height: 300px;
  color: black;
}

.container .row .ow-left .panel .panel-body .list-group .list-group-item .info{
    text-decoration: none;
     
 }

.container .row .ow-left .panel .panel-body .list-group .list-group-item .time{
    position: relative;
    float: right;
}

.containerOne{
    width: 80%;
    margin: 0 auto;
    font-family:'microsoft Yahei';
    font-size: 30px;
}

.containerOne .oneTop{
    text-align: center;
}

.containerOne .oneTop .oneTop-line{
    width: 80px;
    background-color: green;
    height: 5px;
}

.containerOne .oneMain{
    font-size: 20px;
    margin-top: 30px;
    line-height: 50px;
}

.containerOne .oneImg img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.containerTwo{
    width: 100%;
    height: 600px;
    font-family:'microsoft Yahei';
    font-size: 30px;
    background-image: url("../images/bgTwo.jpg");
}

.containerTwo .twoTop{
    text-align: center;
}

.containerTwo .twoTop .twoTop-line{
    width: 80px;
    background-color: white;
    height: 5px;
    margin-top: 30px;
}


.containerThree{
    width: 80%;
    margin: 0 auto;
    font-family:'microsoft Yahei';
    font-size: 30px;
}

.containerThree .threeTop{
    text-align: center;
}

.containerThree .threeTop .threeTop-line{
    width: 80px;
    background-color: green;
    height: 5px;
}

.containerFour{
    width: 60%;
    margin: 0 auto;
    font-family:'microsoft Yahei';
    font-size: 30px;
}

.containerFour .fourTop{
    text-align: center;
}

.containerFour .fourTop .fourTop-line{
    width: 80px;
    background-color: green;
    height: 5px;
}

.containerFour .fourMain{
    font-size: 20px;
    margin-top: 100px;
    line-height: 80px;
}

.containerFour .fourMain .fourMain-two{
    margin-left: 150px;
}

.containerFour .fourMain .fourMain-four{
    margin-left: 230px;
}

.containerFive{
    width: 100%;
    height:400px;
    margin-top: 60px;
}

